#header {
    height: 8rem;
}

.header-logo__img {
    cursor: pointer;
    height: 2rem;
    background: url(https://static.cdn.printful.com/static/images/layout/printful_logo.svg) no-repeat;
}
.header-logo-mobile{
    display: none;
}

.header-form {
}

.header-form__login {
    margin-left: 2rem;
    font-size: 1.6rem;
}

.header-form__login-link {
    color: #b1b1b1;
    text-decoration: none;
}
.header-form__login-link:hover{
    color: #626262;
    cursor: pointer;

}
.header-form__login-link p {
    color: #626262;
    margin-top: 0.5rem;

}

.header-form__login-link i {
    margin-right: 0.4rem;
    font-size: 2rem;
}
/* slider */

#slider {
}
.slider{
    background-color: #d4f2f2!important;

}
.slider__content {
    padding: 6rem 0;
    padding-right: 10rem;
}

.slider__content h1 {
    font-size: 4.8rem;
    line-height: 6rem;
    padding-bottom: 1.6rem;
    font-weight: 900;
}

.slider__content p {
    letter-spacing: 0;
    font-size: 2.4rem;
    font-weight: 300;
    padding-bottom: 1.6rem;
    line-height: 3.4rem;
}

.btn {
    font-size: 1.6rem;
    background-color: #e40f0a;
    border: none;
    border-radius: 0.5rem;
    color: var(--white-color);
    padding: 1.6rem 4rem;
    font-weight: 700;
    margin: 1.6rem  0;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.7;
    color: var(--white-color);
}
.btn i{
    margin-left: 2rem;
    font-size: 1.3rem;
    animation: leftbtn 1s ease-in infinite;
}

.slider_img-logo {
    position: absolute;
    top: 10%;
}
.slider_img-logo img{
        width: 100%;
        height: 42rem;
        border-radius: 1rem;
        box-shadow: 0 0.7rem 1.6rem 0 #B1B1B1;
}



/* content */

.content_instruct {
    margin-top: 17rem;
    
}
.content_selling-header {
    text-align: center;
    margin-bottom: 3rem;
}
.content_sell {
    margin-top: 2rem;
}
.conten_selling-img img {
    max-width: 18rem;
    max-height: 18rem;
    margin: 0.8rem 1.6rem 0 1.6rem;
}
.content_selling-item-number {
    margin: .8rem 2.7rem 0 2.7rem;
    border-radius: 50%;
    color: #555;
    padding: 0.8rem 1.2rem;
    font-size: 1.6rem;
    border: 0.3rem solid #e5e5e5;
    position: relative;
    box-shadow: 0 0 0 0.8rem #fff;
}

.content_selling-item-head-text {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0.8rem 1.6rem 0 1.6rem;
}

.content_selling-item-text {
    font-size: 1.6rem;
    margin-top: 1.6rem;
    /* margin: 1rem 6rem 1rem 6rem; */
    line-height: 2.4rem;
    color: #555;
    text-align: center;
    font-weight: 300;
    cursor: text;
}
/*  2*/

.content_show {
    margin-top: 6rem;
    border-top: 0.2rem solid #e5e5e5;

}


.content_show-text {
    padding-top: 6rem;
    text-align: center;
}

.content_show-text p {
    font-size: 2.4rem;
    color: #555;
    font-weight: 400;
    line-height: 3rem;
    margin: 1.6rem 0 3.6rem 0;
    font-family: ProximaNova, sans-serif;
}


.content-show_img img {
    max-width: 100%;
    height: auto;
    display: block;
}


/*  3*/

.content_build {
    background-color: #3d3733;
    color: var(--white-color);
    text-align: center;
    padding: 4rem 0;
}


/* 4 */

.content_start-header {
    text-align: center;
    margin: 7rem 0;
}




/* 5 */

.content_start-body {
}

.content_start-img {
    align-content: flex-start;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.conten_start-item-img {
    margin: 3.2rem 3.2rem 0 0;
    max-width: 25rem;
    max-height: 25rem;
}

.content_start-img img {
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}

.content_star-item i {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 1.7rem;
    color: #f2c994;
}

.content_star-item {
}

.content_star-item h3 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3.4rem;
}

.content_star-item p {
    padding-bottom: 6rem;
    width: 100%;
}

.content_star-item-text {
    width: 40rem;
    color: #848484;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin-left: 3.2rem;
}


/* 6 */

.content_printful {
    padding-top: 2rem;
    background-color: #3d3733;
}

.content_printful-header {
    text-align: center;
    color: white;
    margin: 6rem 0;
}

.content_printful-body {
    padding-bottom: 6rem;
}

.content_printful-item h1 {
    color: #f2c994;
    margin-right: 1rem;
}

.content_printful-item p {
    color: #848484;
    font-size: 1.5rem;
    max-width: 24rem;
}

.content_printful-item {
    position: relative;
    margin-left: 1.6rem;
}

.content_printful-item::after {
    content: "";
    position: absolute;
    border-left: 0.2rem solid #fff;
    top: 0;
    left: -10%;
    height: 100%;
}


/* 7 */

.content_see {
    margin: 6rem 0;
}

.content_see-header {
    text-align: center;
    margin-bottom: 6rem;
}

.content_see-body {
}

.content_see-body-item {
    margin: 0 1.6rem;
    border: 0.1rem solid #e5e5e5;
    
}

.content_see-body-item img {
    object-fit: cover;
    max-height: 43rem;
}

.content_see-body-item span {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.4rem;
    margin: 1.6rem 0 1.6rem 2.0rem;
    display: block;
}


/* 8 */

.content_we {
    margin-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.content_we-om {
    margin: 6rem 0;
}
.content_we-item {
    margin-right: 3rem;
}

.content_we-item p {
    color: #757575;
    font-size: 1.5rem;
    font-weight: 2.4rem;
}

.content_we-item img {
    max-width: 10rem;
    height: 6rem;
}


/* footer */



.footer-item_logo img {
    height: 1.6rem;
    margin-bottom: 1.6rem;
}

.footer-item_nav p {
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #838080;
    display: block;
    margin: 0.8rem 0;
}

.footer-item_list h3 {
    font-weight: 700;
    font-size: 1.74rem;
    line-height: 2.4rem;
}

.footer-item_nav h3 {
    margin-bottom: 0.8rem;
}

.footer-item_nav {
    margin-top: 1.6rem;
}

.grid__column-1-6 .footer-item_list .footer-item_nav p:hover {
    opacity: 0.85;
    cursor: pointer;
}


/* location-social */
.footer{
    padding-bottom: 6rem;
}
.location-social {
    margin-top: 1rem;

}

.location-social i {
    font-size: 1.7rem;
}

.location-social a {
    margin-right: 0.5rem;
    color: #555;
    text-align: center;
    border: 1px solid #DDD;
    padding: 0.6rem;
    border-radius: 0.5rem;
}

.icon-ins:hover {
    background-color: #000;
    color: white;
}

.icon-fb:hover {
    background-color: #1164a9;
    color: white;
}

.icon-yt:hover {
    background-color: #c8232c;
    color: white;
}

.icon-in:hover {
    background-color: #1164a9;
    color: white;
}

.location-social .icon-fb {
    padding: 6px 9px;
}

.icon-tw:hover {
    background-color: #1164a9;
    color: white;
}

.icon-pin:hover {
    background-color: #c8232c;
    color: white;
}


/* note */

.note {
    background-color: #f8f8f8;
    margin-bottom: 3rem;
}

.container_border {
    border-bottom: 1px solid #000;
}

.container_border p {
    margin: 6rem 0 2rem 0;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.6rem;
}

.note_item input:focus {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    border: 1px solid #bbb;
    outline: none;
}

.note_item input {
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 1rem 16rem 1rem 1.6rem;
    /* width: 34rem; */
    border: 1px solid #e5e5e5;
    margin-bottom: 3.6rem;
}

.note {
    padding-top: 3rem;
}

.end {
    
    margin-bottom: 20px;
}